<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../template/head.html')%>
    <title>simple</title>
</head>
<body>
    <%- include('../../template/header.html')%>
    
    <div class="detail-page">
        <div class="detail-article">
            <h4 class="detail-title"><%=result.title%></h4>
            <div class="detail-date">
                <%=result.add_time%>
            </div>
            <div class="detail-content">
                <%-result.content%>
            </div>
        </div>

        <div class="SIMPLE-comment">
            <ol id="commentList">
                <li class="comment-item">
                    <div class="comment-avatar">
                        <div class="avatar-pic">
                            <img src="/static/images/avatar.png" alt="">
                        </div>
                        <div class="user-name">Simple</div>
                    </div>

                    <div class="comment-content">
                        <div class="content-word">
                            hahaahahaah
                        </div>
                        <div class="content-time">
                            2018-10-12
                        </div>
                    </div>

                    <div class="comment-number">
                        1#
                    </div>
                </li>
                <li class="comment-item">
                    <div class="comment-avatar">
                        <div class="avatar-pic">
                            <img src="/static/images/avatar.png" alt="">
                        </div>
                        <div class="user-name">Simple</div>
                    </div>

                    <div class="comment-content">
                        <div class="content-word">
                            hahaahahaah
                        </div>
                        <div class="content-time">
                            2018-10-12
                        </div>
                    </div>

                    <div class="comment-number">
                        1#
                    </div>
                </li>
                <li class="comment-item">
                    <div class="comment-avatar">
                        <div class="avatar-pic">
                            <img src="/static/images/avatar.png" alt="">
                        </div>
                        <div class="user-name">Simple</div>
                    </div>

                    <div class="comment-content">
                        <div class="content-word">
                            hahaahahaah
                        </div>
                        <div class="content-time">
                            2018-10-12
                        </div>
                    </div>

                    <div class="comment-number">
                        1#
                    </div>
                </li>

            </ol>

            <div class="SIMPLE-page-ctrl">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
            </div>
        </div>
    </div>
    <%- include('../../template/foot.html')%>
</body>
</html>