<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../template/head.html')%>
    <title>simple</title>
</head>
<body>
    <%- include('../../template/header.html')%>

    <div class="detail-page">
        <div class="detail-article">
            <h4 class="detail-title"><%=result.title%></h4>
            <div class="detail-date">
                <%=result.add_time%>
            </div>
            <div class="detail-content">
                <%-result.content%>
            </div>
        </div>

        <div class="SIMPLE-comment">
            <ol id="commentList">
            </ol>

            <div class="SIMPLE-page-ctrl" id="pageCtrl">

            </div>
        </div>

        <div class="SIMPLE-comment-wrap" id="commentWrap">
            <div  class="comment-input">
                <textarea name="" cols="30" rows="10" id="commentInput"></textarea>
            </div>
            <div class="comment-preview markdown-body" id="commentPreview">

            </div>
            <div class="comment-submit">
                <a href="javascript:;" class="btn">提交</a>
                <a href="javascript:;" class="btn disabled">置空</a>
            </div>
        </div>
    </div>
    <%- include('../../template/foot.html')%>
</body>
</html>
