/*
 * 布局公用类
 * @Author: Simple
 * @Date: 2018-02-02 16:40:18
 * @Last Modified by: Simple
 * @Last Modified time: 2018-02-07 16:32:50
 */

.SIMPLE-info {
    background-position: 100% 100%;
    color: #fff;
    background-size: 100% 100%;
    padding: 90px 60px 30px;

    .personal-info{
        .avatar {
            width: 105px;
            height: 105px;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid #fff;
            box-shadow: 0 0 5px #999;
            margin: 0 auto;
            
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .name {
            font-size: 18px;
            margin-top: 30px;
        }

        .signature {
            font-size: 12px;
            margin-top: 18px;
        }

        .introduce {
            font-size: 12px;
            text-align: center;
            line-height: 18px;
            margin-top: 50px;

            p {
                margin: 5px 0;
            }
        }

        .contruct {
            margin-top: 50px;

            .item {
                color: #fff;
                margin-right: 30px;

                span.icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #eee;
                    vertical-align: middle;
                }
            }
        }
    }
}

.SIMPLE-content {
    padding:0 100px 40px;
    
    .SIMPLE-title {
        color: #666;
        margin: 30px 0 10px;
        font-size: 16px;
    }
}

.SIMPLE-menu {
    &.opened {
        .toggle {
            background-color: #000;

            .line {
                transform-origin: 50% 50%;
                top: 23px !important;
                left: 11px !important;
                background-color: #fff;

                &.line1 {
                    width: 26px;
                    transform: rotate(45deg);
                }

                &.line2 {
                    transform: translateX(100px);
                }

                &.line3 {
                    width: 26px;
                    transform: rotate(-45deg);
                }
            }
        }

        .mask {
            transform: translateX(-100%);
        }

        .menu-bar {
            transform: translateX(-100%);
        }

    }

    .toggle {
        position: fixed;
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        background-color: rgba(255, 255, 255, 0.8);
        right: 30px;
        top: 30px;
        z-index: 9999;
        cursor: pointer;
        transition: all 0.5s;
        overflow: hidden;

        &:hover {
            background-color: #000;

            .line {
                background-color: #fff;
            }
        }

        .line {
            position: absolute;
            width: 22px;
            height: 2px;
            background-color: #000;
            left: 12px;
            transition: all 0.5s;

            &.line1 {
                top: 18px;
            }

            &.line2 {
                top: 24px;
                width: 16px;
                transition: all 0.8s;
            }

            &.line3 {
                top: 30px;
            }
        }
    }

    .mask {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        z-index: 999;
        right: -100%;
        top: 0;
        transform: translateX(0);
    }

    .menu-bar {
        position: fixed;
        z-index: 9998;
        width: 300px;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        left: 100%;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s;
        padding-top: 10%;

        ul li {
            height: 80px;
            line-height: 80px;
            font-size: 30px;
            font-weight: 500;
            margin: 0 25%;
            cursor: pointer;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 5px;
                bottom: 0;
                transition: all 0.5s;
                left: 0;
                right: 0;
                background-color: #999;
                margin: 0 auto;
            }

            &.active,
            &:hover {
                &:after {
                    width: 100%;
                }

                a {
                    color: #666;
                }
            }

            a {
                color: #aaa;
                transition: color 0.5s;
            }
        }
    }
}

.SIMPLE-page-ctrl {
    margin: 30px auto;
    text-align: center;

    a {
        display: inline-block;
        height: 36px;
        border: 1px solid #999;
        color: #999;
        line-height: 36px;
        min-width: 36px;
        padding: 0 10px;
        cursor: pointer;
        transition: all 0.3s;
        margin: 0 5px;
        font-size: 15px;

        &:hover,
        &.active {
            background-color: #999;
            color: #fff;
        }
    }
}

@media (max-width: 1920px) and (min-width: 1440px) {
    .SIMPLE-info {
        width: 720px;
        height: 100%;
        position: absolute;
        font-size: 14px;
    }
    
    .SIMPLE-content {
        left: 720px;
        right: 0;
        position: absolute;
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 1440px) and (min-width: 750px) {
    .SIMPLE-info {
        width: 400px;
        height: 100%;
        position: absolute;
        background-color: #eee;
        color: #fff;
        padding: 90px 30px 30px;
    }
    
    .SIMPLE-content {
        left: 400px;
        right: 0;
        position: absolute;
        height: 100%;
        overflow-y: auto;
        padding: 0 80px 40px;
    }
}

@media (max-width: 750px) {
    html {
        font-size: 0.28rem;
    }

    .SIMPLE-info {
        color: #fff;
        padding: 1rem 0.4rem 0.2rem;

        .name {
            font-size: 0.36rem !important;
            margin-top: 0.6rem !important;
        }

        .signature {
            font-size: 0.24rem !important;
            margin-top: 0.36rem !important;
        }

        .introduce {
            font-size: 0.24rem !important;
            line-height: 0.36rem !important;
            margin-top: 0.5rem !important;

            p {
                margin: 0.05rem 0 !important;
            }
        }

        .contruct {
            margin-top: 0rem !important;
        }
    }
    
    .SIMPLE-content {
        font-size: 0.28rem;
        padding: 0 0.4rem 0.4rem;
    }

    .SIMPLE-page-ctrl {
        a {
            min-width: 0.5rem;
            line-height: 0.5rem;
            height: 0.5rem;
            padding: 0 0.1rem;
            margin: 0 0.05rem;
        }
    }
}
