<div class="SIMPLE-menu" id="SIMPLE_MENU">
        <span class="toggle" id="TOGGLE_BTN">
            <i class="line line1"></i>
            <i class="line line2"></i>
            <i class="line line3"></i>
        </span>
        <div class="mask"></div>
        <div class="menu-bar opened">
            <ul>
                <li class="active">
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">文章</a>
                </li>
                <li>
                    <a href="">相册</a>
                </li>
                <li>
                    <a href="">其他</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="SIMPLE-info" style="background-image: url(/static/images/info-bg_01.png)">
        <div class="personal-info">
            <div class="avatar">
                <img src="/static/images/avatar.png" alt="">
            </div>
            <div class="name">
                Simple的博客
            </div>
            <div class="signature">
                假作真时真亦假，无为有处有还无
            </div>
            <div class="introduce">
                <p>
                    对持真境应无取，愿得身闲便做僧。
                </p>
                <p>
                    世情已逐浮云散，到头难与运相争。
                </p>
                <p>
                    当悟之时人自悟，人不度人天度人。
                </p>
                <p>
                    眼前有余忘缩手，身后无路想回头。
                </p>
            </div>
            <div class="contruct">
                <a class="item" href="">
                    <span class="icon icon-mail"></span>
                </a>
    
                <a class="item" href="">
                    <span class="icon icon-github"></span>
                </a>
            </div>
        </div>
        
    </div>
    <div class="SIMPLE-content">
        <h3 class="SIMPLE-title">S I M P L E</h3>