/* YG table-grid样式 */
table.YG-table-grid{
  width:100%;
  border-collapse: collapse;
  color:#999;
  border: 1px solid #eee;
  text-align: left;
  table-layout: automatic;

  a {
    color:#999;
  }

  th,td {
    padding: 0 10px;
  }

  thead {
    height: 50px;
    background-color: #eee;
    border: 1px solid #eee;
    line-height: 50px;
    color: #666;
  }

  tbody tr {
    height: 60px;
    border-bottom: 1px solid #eee;

    &.active {
      background-color: #f8f8f8;
    }
  }
}