<div class="YG-dialog-wrap">
  <% if(dialog.mask) {%>
  <div class="YG-mask"></div>
  <!-- mask -->
  <% } %>
  <div class="YG-dialog YG_bounceIn" style="width: <%= dialog.width%>">
      <% if(dialog.title) {%>
      <div class="title">
        <%- dialog.title %>
      </div>
      <!-- 标题 -->
      <% } %>
      <% if(dialog.full) { %>
      <a href="javascript:void(0)" class="option full"></a>
      <% } %>
      <% if(dialog.close) {%>
      <a href="javascript:void(0)" class="option close"></a>
      <!-- 关闭按钮 -->
      <% } %>

      <div class="content">
        <%=dialog.content%>
      </div>
      <!-- 主内容区域 -->
      <% if(dialog.btns.length) { %>
      <div class="btn-area">
        <% dialog.btns.forEach(function(item, i) { %>
          <a href="javascript:void(0)" class="btn"><%=item%></a>
        <% }) %>
      </div>
      <!-- 按钮列表 -->
      <% } %>
  </div>
</div>