@import '../../../src/css/common.scss';

.index-page {
    .blog-list {
        text-align: left;

        .blog-item {
            margin-top: 60px;
            
            .blog-tite {
                font-size: 30px;
                font-weight: 400;
                color: #000;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .blog-date {
                font-size: 14px;
                color: #999;
                margin-top: 15px;
            }

            .blog-preview {
                margin-top: 15px;
                color: #666;
                font-size: 14px;
                font-weight: 100;
                line-height: 20px;
                overflow: hidden;
                height: 40px;
            }

            .blog-cover-list {
                margin-top: 15px;
                overflow: hidden;
                display: flex;

                a.cover {
                    box-sizing: border-box;
                    display: block;
                    margin-right: 10px;
                    width: 30%;
                    position: relative;
                    border-radius: 5px;
                    overflow: hidden;

                    .inner-cover {
                        border: 1px solid #eee;
                        width: 100%;
                        height: 100%;
                        padding-top: 70%;

                        img {
                            display: block;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }

            @media (max-width: 750px) {
                .blog-tite {
                    font-size: 0.38rem !important;
                }

                .blog-date {
                    margin-top: 0.1rem;
                }

                .blog-preview {
                    margin-top: 0.1rem;
                }

                .blog-cover-list {

                }
                
            }
        }
    }
}