<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../template/head.html')%>
    <title>simple</title>
</head>
<body>
    <%- include('../../template/header.html')%>
    <div class="index-page">
        <ol class="blog-list">
            <li class="blog-item">
                <h4 class="blog-tite"><a href="">暴力的衰落，如何改变了欧洲大陆?</a></h4>
                <div class="blog-date">January 29 2018</div>
                <div class="blog-preview">
                    2017 年是亿万富翁快速增加的一年。全球最富有的 1% 的人口，财富一共增长 7620 亿美元，这个数字是消除贫穷基金的七倍之多。1% 的超级富豪掌握了全球 82 % 的
                </div>
                <div class="blog-cover-list">
                    <a href="" class="cover">
                        <img src="" alt="">
                    </a>
                    <a href="" class="cover">
                        <img src="" alt="">
                    </a>
                    <a href="" class="cover">
                        <img src="" alt="">
                    </a>
                </div>
            </li>
        </ol>
    </div>
    <%- include('../../template/foot.html')%>
</body>
</html>